.scan{
    box-shadow: 10px 7px 15px rgba(0, 0,0, 0.6);
}

.property{
    background: linear-gradient(to right ,rgba(55, 136, 150, 0.3) , rgba(55, 136, 150, 1));
}

.rotated-text{
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    background: linear-gradient(to bottom, #45CE52,#3EBB8C);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero{
    background: url('herobg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.custom-height {
    height: calc(100vh - 70px);
}

.boxShadow{
    box-shadow: 5px 4px 10px rgba(0, 0,0, 0.4);
}

.Table td{
    padding-inline: 15px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Table thead td{
    font-size: 20px;
    font-weight: 500;
}

.Table tr{
    border-bottom: 1px solid;
}

.Table-bordered td{
    border: 1px solid;
}

.formLayout{
    background: url('cyber-theme.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* For Webkit/Blink browsers */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(155, 215, 222, 1) inset !important;
}

/* For Firefox */
input:-moz-placeholder {
    -moz-box-shadow: 0 0 0px 1000px rgba(155, 215, 222, 1) inset !important;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(34, 111, 120, 1);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.navbar{
    width: calc(100vw - 16rem);
}